
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: #14387a;
  --color-light-green:#7bb6b2;
  --color-medium-green:#168581;
  --color-daark-green:#324b4a;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
}
